__pycache__/


.lineFile.py.swp

pyFiles/Downloads/

pyFiles/._plotSettFile.py.swp
pyFiles/._plotSettFile.py.swn
pyFiles/._plotSettFile.py.swo
pyfile/*.swp

.ipynb_checkpoints

pyFiles/keys/circumference_listOfKeys.py
pyFiles/keys/line_listOfKeys.py
pyFiles/keys/parabola_listOfKeys.py

pyFiles/.lineCalcFile.py.swo
pyFiles/.lineCalcFile.py.swp

pyFiles/keys/.parabola_listOfKeys.py.swp
pyFiles/parabola/.parabolaCalcFile.py.swp
pyFiles/.__init__.py.swp

pyFiles/.pointFile.py.swp

pyFiles/.circumferenceFile.py.swn
pyFiles/.circumferenceFile.py.swo
pyFiles/.circumferenceFile.py.swp

pyFiles/keys/circumference_listOfKeys.py
pyFiles/keys/line_listOfKeys.py
pyFiles/keys/parabola_listOfKeys.py
pyFiles/parabolaFile.py


pyFiles/.pointFile.py.swo
pyFiles/.circumferenceCalcFile.py.swp
pyModules2gen/.angleFile.py.swo

pyFiles/.dataExploreFile.py.swp

pyFiles/.Settings.py.swp

pyFiles/.pointFile.py.swo

pyModules2gen/.triangleFile.py.swp
pyModules2gen/.triangleFile.py.swo
0
pyModules2gen/.angleFile.py.swp
pyModules2gen/.triangleFile.py.swn

pyFiles/._plotSettFile.py.swm

pyFiles/.lineFile.py.swo

pyFiles/.parabolaFile.py.swp
pyFiles/.parabolaFile.py.swo
.__init__.py.swp

pyFiles/.parabolaCalcFile.py.swp

pyFiles/parabola/.parabolaFile.py.swp

pyFiles/circumference/.circumferenceCalcFile.py.swp

pyFiles/circumference/.circumferenceFile.py.swp

pyFiles/line/.lineCalcFile.py.swp

pyFiles/angle/.angleCalcFile.py.swp
pyModules2gen/.angleFile.py.swn

pyFiles/function/.functionFile.py.swp

pyFiles/circumference/po_po_ra.aux
pyFiles/circumference/po_po_ra.idx
pyFiles/circumference/po_po_ra.log
pyFiles/circumference/.circumferenceCalcFile.py.swo
