__pycache__/


.lineFile.py.swp

pyFiles/Downloads/

pyFiles/._plotSettFile.py.swp
pyFiles/._plotSettFile.py.swn
pyFiles/._plotSettFile.py.swo
pyfile/*.swp

.ipynb_checkpoints

pyFiles/.__init__.py.swp

pyFiles/.pointFile.py.swp

pyFiles/.circumferenceFile.py.swn
pyFiles/.circumferenceFile.py.swo
pyFiles/.circumferenceFile.py.swp

pyFiles/.pointFile.py.swo

pyModules2gen/.angleFile.py.swo

pyFiles/.dataExploreFile.py.swp

pyFiles/.Settings.py.swp

pyFiles/.pointFile.py.swo

pyModules2gen/.triangleFile.py.swp
pyModules2gen/.triangleFile.py.swo

pyModules2gen/.angleFile.py.swp
pyModules2gen/.triangleFile.py.swn

pyFiles/._plotSettFile.py.swm

pyFiles/.parabolaFile.py.swp
pyFiles/.parabolaFile.py.swo
.__init__.py.swp

pyFiles/.parabolaCalcFile.py.swp

